// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
  font-family: 'Inter', sans-serif !important;
}

.header{
  border-bottom: 1px solid #e4e2e2;
}

.header__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #565656;
}

.subtitle{
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #565656;
}

.name-title{
  display: block;
  text-align: center;
  font-family: 'Inter', sans-serif !important;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #282828;
}

.password-img{
  width: 160px;
}

.password-img img{
  max-width: 100%;
}

.btn {
  font-family: 'Inter', sans-serif !important;
  line-height: 1.2 !important;
  font-weight: 400 !important;
  color: #ffffff !important;
  background-color: #30b9d6 !important;
  box-shadow: 0px 6px 27px 0px rgba(47,185,213,0.2) !important;
  width: 80% !important;
  text-align: center !important; 
}



.description{
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #565656;
  text-align: center;
}

.help{
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  color: #282828;
  text-align: center;
}

.description__link{
  text-decoration: underline;
}

.description-new{
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #727272;
  text-align: center;
}

.descriptionNew__link{
  padding-bottom: 8px;
  font-weight: 400;
  color: #727272;
  text-decoration: underline;
}